body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    nav {
        top: 10px;
        z-index: 1000;
    }

    .nav {
        display: flex;
        background-color: rgba($colorOrange, 0.7);
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 65%;
        border-radius: 50px;

        ul {
            list-style: none;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            button {
                padding: 10px 20px;
                border-radius: 15px;
                border: none;
                font-size: 16px;
                font-weight: 700;
                background-color: rgba($colorOrange, 0.4);

                color: white;
            }
        }

        img {
            height: 100px;
            width: auto;
        }
    }
}