/* Error: Undefined variable.
 *    ,
 * 19 |         background-color: $colorOrange;
 *    |                           ^^^^^^^^^^^^
 *    '
 *   CSS\base.scss 19:27  @use
 *   CSS\style.scss 3:1   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 19 \2502          background-color: $colorOrange;\d\a    \2502                            ^^^^^^^^^^^^\a    \2575 \a   CSS\\base.scss 19:27  @use\a   CSS\\style.scss 3:1   root stylesheet";
}
